<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление девайса</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <h2 style="margin-left: 10%; font-family: Algerian,serif;">Добавление девайса</h2>
</header>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

        
    <div  id="prodAdd" >
        <a href="/"><button>Вернуться в девайсы</button></a>
        <span class="descr" id="add-device">Добавить новый девайс</span>
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Модель" name="model" id="name" th:required="required"/>
            <button type="submit" id="submit">Добавить</button>
        </form>
    </div>
</body>
</html>