<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/change" method="post" enctype="multipart/form-data">
        <select name="device" id="device" th:required="required">
            <option th:each="device : ${devices}"
                    th:value="${device.getId()}"
                    th:text="${device.getModel()}">
            </option>
        </select>
        <input type="text" placeholder="Новая модель" name="model" id="name" th:required="required"/>
        <button type="submit" id="submit">Изменить</button>
    </form>
</body>
</html>