<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Гарантийные талоны</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <h2>Гарантийные талоны</h2>
</header>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
<div th:if="${return}">
    <h1 th:text="${categ}"></h1>
    <a href="/garanty"><button class="back">Вернуться в гарантии</button></a>
</div>


<a href="/"><button class="back">Вернуться в девайсы</button></a>
    <div class="content">
        <div  th:id="${garanty.getId()} + device" th:each="garanty : ${garanties}">
            <div class="device">
                <form action="/" method="get">
                    <p th:text="'id:' + ${garanty.getId()}" style="display: none;"/>
                        <p class="item_name"  th:text="'Девайс: ' + ${garanty.getDevice().getModel()}" ></p>
                        <button class="btn btn-sm delete-btn" th:id="${garanty.getId()}" th:attr="data-device-id=${garanty.getId()}">Удалить гарантию</button>
                </form>
                <button class="btn btn-sm show-details-btn" th:id="${garanty.getId()}" th:attr="data-garanty-id=${garanty.getId()}">Посмотреть детали</button>
                <p>____________________</p>
            </div>
        </div>
    </div>
<footer>
        <span th:each="category : ${categories}"
              th:object="${category}">
            <button class="category-btn" th:attr="data-category-name=${category}" th:text="${category}"></button>
        </span>
</footer>
<script>
 $(".delete-btn").click((e) => {
    var btn = $(e.currentTarget);
    var itemId = btn.attr("data-device-id");

    $.post("/device/" + itemId + "/delete/garanty", () => {
    });
    })
 $(".category-btn").click((e) => {
     var btn = $(e.currentTarget);
     var categoryName = btn.attr("data-category-name");
     window.location.href = "/category/" + categoryName + "/show";
 });
 $(".show-details-btn").click((e) => {
     let btn = $(e.currentTarget);
     let garantyId = btn.attr("data-garanty-id");
     window.location.href = "/garanty/" + garantyId + "/show";
 });
</script>
        
</body>
</html>