<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SimpleShop - товары</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:inline="javascript"></script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>

</style>

<header>
<h2>Garanty Devices</h2>
</header>

<body>
    <p><a th:href="@{/account}">Логин</a></p>

    <div>
        <a class="garanty" href="/garanty">
            <button>Гарантийные талоны</button>
        </a>
    </div>
  <a class="add-button" href="/add">
    <button>Добавить устройство</button>
  </a>
    <a class="add-button" href="/change">
        <button>Изменить устройство</button>
    </a>


  <div class="row content" id="device-list">
    <div class="col-md-4" th:id="${device.getId()} + device" th:each="device : ${devices}">
      <div class="device">
        <form action="/" method="get">
          <p th:text="'id:' + ${device.getId()}" style="display: none;"/>
          <p  th:text="'Наименование товара: ' + ${device.getModel()}" ></p>
        </form>
          <input type="date" th:id="'gar_date' + ${device.getId()}"/>
        <button class="btn btn-sm add-garanty-to-device-btn" th:id="${device.getId()}" th:attr="data-device-id=${device.getId()}">Добавить гарантию</button>
      </div>
    </div>
  </div>


  <script>
      $(".add-garanty-to-device-btn").click((e) => {
          let btn = $(e.currentTarget);
          let itemId = btn.attr("data-device-id");
          let date = document.getElementById('gar_date' + itemId).value;
          console.log(date);
          $.post("/add/" + itemId + "/" + date + "/garanty", () => {
          });
          document.location.href = "/index";
      });

  </script>
</body>
</html>